
@using VoteClip.Models
@model List<VoteClip.Models.Round>
@{
    ViewBag.Title = "Index";
}
<div id="main">
    <div class="inner">
        <header>
            <img src="~/assets/images/cover.jpg" width="100%" style="border-radius: 8px;"/>
        </header>
        <hr />
        
        <div id="cover">
            <section>
                <h2>Giới thiệu khoa Luật</h2>
                <div class="videoWrapper">
                    <iframe src="https://www.youtube.com/embed/UZjuizEYU9g" frameborder="0" allowfullscreen></iframe>
                </div>
            </section>
            <section>
                <h2>Follow</h2>
                <div class="fb-page" data-href="https://www.facebook.com/khoaluatdhtdt.tdt.edu.vn" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/khoaluatdhtdt.tdt.edu.vn" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/khoaluatdhtdt.tdt.edu.vn">Khoa Luật ĐH Tôn Đức Thắng</a></blockquote>
                </div>
            </section>
        </div>    

        <hr />

        <h2>Video nổi bật</h2>

        @foreach (VoteClip.Models.Round round in Model)
        {

            <h3 style="margin-top:2em;"><a href="/Detail/Round?idRound=@round.idRound">@round.nameRound</a></h3>
        <section class="tiles">
            @{
            var listVideo = VideoService.GetHomeVideosByRound(round.idRound);
            int indexVideo = 1;
            foreach (var video in listVideo)
            {
                string thumbnail = "http://i3.ytimg.com/vi/" + video.urlVideo.Split('=')[1] + "/hqdefault.jpg";
                string classVideo = "style" + indexVideo;
                <article class="@classVideo">
                    <span class="image">
                        <img src="@thumbnail" alt="" />
                    </span>
                    <a href="/Detail/Video?idVideo=@video.idVideo">
                        <h2>@video.titleVideo</h2>
                        <div class="content">
                            <p>@video.authorVideo</p>
                            <p>@VotingVideoService.GetListUserVote(video.idVideo).Count() lượt vote</p>
                        </div>
                    </a>
                </article>
                indexVideo = indexVideo + 1;
                    }
            }
            @*<article class="style2">
                <span class="image">
                    <img src="~/assets/images/pic02.jpg" alt="" />
                </span>
                <a href="generic.html">
                    <h2>Lorem</h2>
                    <div class="content">
                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                    </div>
                </a>
            </article>
            <article class="style3">
                <span class="image">
                    <img src="http://i3.ytimg.com/vi/NGezG_3E2b4/hqdefault.jpg" alt="" />
                </span>
                <a href="generic.html">
                    <h2>Feugiat</h2>
                    <div class="content">
                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                    </div>
                </a>
            </article>
            <article class="style4">
                <span class="image">
                    <img src="~/assets/images/pic04.jpg" alt="" />
                </span>
                <a href="generic.html">
                    <h2>Tempus</h2>
                    <div class="content">
                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                    </div>
                </a>
            </article>
            <article class="style5">
                <span class="image">
                    <img src="http://i3.ytimg.com/vi/sj1e2oJECE0/hqdefault.jpg" alt="" />
                </span>
                <a href="generic.html">
                    <h2>Aliquam</h2>
                    <div class="content">
                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                    </div>
                </a>
            </article>
            <article class="style6">
                <span class="image">
                    <img src="~/assets/images/pic06.jpg" alt="" />
                </span>
                <a href="generic.html">
                    <h2>Veroeros</h2>
                    <div class="content">
                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                    </div>
                </a>
            </article>
            <article class="style2">
                <span class="image">
                    <img src="~/assets/images/pic07.jpg" alt="" />
                </span>
                <a href="generic.html">
                    <h2>Ipsum</h2>
                    <div class="content">
                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                    </div>
                </a>
            </article>
            <article class="style3">
                <span class="image">
                    <img src="~/assets/images/pic08.jpg" alt="" />
                </span>
                <a href="generic.html">
                    <h2>Dolor</h2>
                    <div class="content">
                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                    </div>
                </a>
            </article>
            <article class="style1">
                <span class="image">
                    <img src="~/assets/images/pic09.jpg" alt="" />
                </span>
                <a href="generic.html">
                    <h2>Nullam</h2>
                    <div class="content">
                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                    </div>
                </a>
            </article>
            <article class="style5">
                <span class="image">
                    <img src="~/assets/images/pic10.jpg" alt="" />
                </span>
                <a href="generic.html">
                    <h2>Ultricies</h2>
                    <div class="content">
                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                    </div>
                </a>
            </article>
            <article class="style6">
                <span class="image">
                    <img src="~/assets/images/pic11.jpg" alt="" />
                </span>
                <a href="generic.html">
                    <h2>Dictum</h2>
                    <div class="content">
                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                    </div>
                </a>
            </article>
            <article class="style4">
                <span class="image">
                    <img src="~/assests/images/pic12.jpg" alt="" />
                </span>
                <a href="generic.html">
                    <h2>Pretium</h2>
                    <div class="content">
                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                    </div>
                </a>
            </article>*@
        </section>
                }
        <hr />
        <h2>Giải thưởng</h2>
        <section>
            <img src="~/assets/images/poster.jpg" width="100%" style="border-radius: 8px;" />
        </section>
        
    </div>
</div>