@using VoteClip.Models
@model List<Video>
@{
    ViewBag.Title = "Round";
    Round round = VoteClip.Models.RoundService.GetRoundById(ViewBag.IdRound);
    int indexVideo = 1;
}
<div id="main">
    <div class="inner">
        <header>
            <h2>
                @round.nameRound
            </h2>
            <p>@round.ruleRound</p>
        </header>
        
        <section class="tiles">
            @foreach (VoteClip.Models.Video video in Model)
            {
                string thumbnail = "http://i3.ytimg.com/vi/" + video.urlVideo.Split('=')[1] + "/hqdefault.jpg";
                string classVideo = "style" + indexVideo;
                <article class="@classVideo">
                    <span class="image">
                        <img src="@thumbnail" alt="" />
                    </span>
                    <a href="/Detail/Video?idVideo=@video.idVideo">
                        <h2>@video.titleVideo</h2>
                        <div class="content">
                            <p>@video.authorVideo</p>
                            <p>@VotingVideoService.GetListUserVote(video.idVideo).Count() lượt vote</p>
                        </div>
                    </a>
                </article>
                indexVideo = indexVideo + 1;
            }
        </section>
    </div>
</div>
